@charset "UTF-8";
/**
 * ellipsis.scss (省略号)
 * @authors Your Name (you@example.org)
 * @date    2019-04-10 18:56:45
 * @version $Id$
 */
@mixin ellipsis($clamp: 1){
    overflow: hidden;
    text-overflow: ellipsis;
    @if($clamp == 1){
        white-space: nowrap;
    }@else{
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: $clamp;
        -webkit-box-orient: vertical;
    }
}


// 调用方式
/* .demo {
    font-size: @include ellipsis(1);
} */
