@charset "UTF-8";
/**
 * flex.scss
 * @authors Anne (dai_pianpian@126.com)
 * @date    2019-04-10 19:04:05
 * @version $1.0.0$
 */
@mixin flex($flex, $flex-box) {
	[$flex] {
    display: flex;
        &>* {
            display: block;
        }
        &>[$flex]{
            display: flex;
        }
    }
}


.demo {
    font-size: @include flex(flex);
}